.header{
  position:fixed;
  z-index:9999;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  width: 100%;
  left:0px;
}

.header img{
  padding-left:18px;
}
.live-chat-holder{
  position: absolute;
  top: -12px;
  background-color: firebrick;width: 102px;
  height: 48px;
  left: -1px;
  border-radius:4px;
  transition: all .2s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.live-chat-holder:hover{
  height: 57px;
  border-radius:5px;
}
.live-chat-text{
  padding-top: 19px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.content{
  margin-top: 50px;
}
.breadcrumbs{
  margin:0 !important;
  padding-right:10px;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.newsletter{
      float: right;
    padding-top: 7px;
    font-weight: bolder;
}
.footer{
  bottom:0px;
  margin-top:50px; 
}
.footer-top{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    color:black;   
}
.footer-top a{
  color:black;
}
.footer-list{
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: none;
    text-align: center;
    margin-left: -250px;
}
.footer-list a{
  color:white;
}
.footer-middle{
  background-color: darkgray;
  
}
.footer-tab-title{
 color:black;
}
.footer-tab{
  background-color: white;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.middle-tab{
    margin-left: 80px;
}
.tab-content{
      vertical-align: -webkit-baseline-middle;
      color:white;  
}
.tab-content a{
     color: white;
    font-size: larger;
    padding-left: 125px; 
}
.tab-container{
  display:none
}
.tab-container.current{
  display: inherit;
}
.footer-tab.current{
  background: darkgray;
	color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0);
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 #footer-copyright-text{
   color:white;
   display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left:41%;
    padding-top:10px;
 }
  #footer-copyright-text a{
   color:white;

 }
 .btn{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); 
 }
 .input-group-btn button{
   box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
 }
 .product-actions-section{
  background-color: firebrick;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color:white;
    box-shadow:0px 2px 8px 5px rgba(0,0,0,.26);
}
.product-actions-section a{
  color:white;
}
.product-actions-section a:hover{
  color:white;
  text-decoration: none
}
.center-title{
  text-align: center;
  margin-top:25px;
  margin-bottom: 25px;
}